![](ITD.png)
    
# Analisis de Datos Masivos
## Datos SQLite

## Nombre del Docente
## Jose Gabriel Rodriguez Rivas

## Nombre del Alumno
## Jose Guadalupe Calderon Perez

In [4]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
sqlite3.connect('C:/Users/JoseC/Python/Unidad 2/phonebook.db')

In [9]:
conn = sqlite3.connect('C:/Users/JoseC/Python/Unidad 2/phonebook.db')

In [26]:
conn.cursor()

In [27]:
cur = conn.cursor()

In [30]:
consulta = "SELECT * FROM coworkers;"
cur.execute(consulta)

In [31]:
for row in cur:
    print (row)

(101, 'Han Solo', 'Bounty Hunter', 5556667578)
(101, 'Han Solo', 'Bounty Hunter', 5556667578)
(102, 'Leia Skywalker', 'Princess', 5556542398)
(103, 'Luke Skywalker', 'Jedi', 5558963267)
(104, 'Obi-Wan Kenobi', 'Jedi', 5558963276)
(105, 'Anakin Skywalker', 'Sith Lord', 5553477621)
(106, 'Jabba The Hutt', 'Gangster', 5556613456)
(107, 'Greedo', 'Debt Collector', 5552360918)
(108, 'R2D2', 'Astro Droid', 5555210125)
(109, 'C3PO', 'Protocol Droid', 5556633345)

In [35]:
#Consultar todas las princesas
consulta = "SELECT name FROM coworkers WHERE title = 'Princess';"
cur.execute(consulta)
for row in cur:
    print (row)

('Leia Skywalker',)

In [37]:
#Nombre de todas las princesas y recaudadores
consulta = "SELECT name FROM coworkers WHERE title = 'Princess' OR title = 'Debt Collector';"
cur.execute(consulta)
for row in cur:
    print (row)

('Leia Skywalker',)
('Greedo',)

In [38]:
#Nombres y numeros de todos los Jedi
consulta = "SELECT name, number FROM coworkers WHERE title = 'Jedi';"
cur.execute(consulta)
for row in cur:
    print (row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

In [40]:
#Nombre de todos los droids
consulta = "SELECT name FROM coworkers WHERE title = 'Astro Droid' OR title = 'Protocol Droid';"
cur.execute(consulta)
for row in cur:
    print (row)

('R2D2',)
('C3PO',)